*{
    margin: 0%;
    padding: 0%;

}

.principal{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: lightslategray;
    background-image: linear-gradient(lightslategray, rgb(80, 80, 80), rgb(49, 49, 49));
}

.logo{
    position: relative;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.sair{
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-top: 20px; 
    float: right    ;
}
.carrinho{
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-top: 20px; 
    float: right    ;
}


.menu{
    position: relative;
    align-items: center;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    height: 800px;
    padding-top: 30px;
    font-size: 18px;
    
}

.btCadastro{
    position: relative;
    width: 250px;
    height: 300px;
    border: solid black 3px;
    float: left;
    padding: 20px;
    border-radius: 20px;
    background-image: radial-gradient(rgb(112, 3, 3), rgb(78, 1, 1));
    box-shadow: 3px 3px 3px black;
    margin-left: 150px;
    margin-top: 50px;
}

.btEstoque{
    position: relative;
    width: 250px;
    height: 300px;
    border: solid black 3px;
    float: right;
    padding: 20px;
    border-radius: 20px;
    background-image: radial-gradient(rgb(112, 3, 3), rgb(78, 1, 1));
    box-shadow: 3px 3px 3px black;
    margin-right: 150px;
    margin-top: 50px;
}

.imgs{
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

h3{
    color: white;
    margin-top: 10px;
}

table {
    width: 100%;
    border-radius: 20px;
    
}

th {
    height: 50px;
    
    background-color: rgb(78, 1, 1);
    color: white   ;
}

tr, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
}

tr{
    background-color: rgb(255, 255, 255);
}

.excluir{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.editar{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

tr:hover {background-color: #a09e9e}

.td{
    text-align: center;
}

h1{
    font-size: 64px;
}

.Campo{
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px ;
    font-size: 20px;
    border-radius: 10px;
}

.botao{
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px ;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    background-image: radial-gradient(rgb(112, 3, 3), rgb(65, 0, 0));
}

.navegacao{
    color:#a09e9e;
    position: relative;
    /*text-align: center;*/
    width: 20%;
    padding-left: 15%;
    font-size: 24px;
}

header{
    position: relative;
    background-image: radial-gradient(rgb(112, 3, 3), rgb(78, 1, 1));
    width: 100%;
    height: 80px;
    border-bottom: 4px solid black;
    box-shadow: 1px 3px 3px black;
}

