{%extends "layout.html"%}

{%block title%} Adicionar {% endblock %}

{%block body%}
    <h1>Adicionar produto</h1>
    <form action="/adicionar" method="post">
        
        <input autocomplete="off" autofocus class="Campo" name="marca" placeholder="Marca" type="text" required><br>
        <input autocomplete="off" autofocus class="Campo" name="volume" placeholder="Volume (ml)" type="text" required><br>
        <input autocomplete="off" autofocus class="Campo" name="quantidade" placeholder="Quantidade" type="text" required><br>
        <input autocomplete="off" autofocus class="Campo" name="preco" placeholder="Preco" type="text" required><br>
        <!--<div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>-->
        <button class="botao" type="submit">Adicionar</button>
    </form>
{%endblock%}