<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<title>Atualizar</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='CadasAtual.css') }}">
<script src="{{ url_for('static', filename='test.js') }}"></script>


<body>
    <div class="principal">
        
        <header>
            <a href="/logout"><img src="{{ url_for('static', filename='sair.png') }}" class = "sair"></a>
            <a href="/carrinho"><img src="{{ url_for('static', filename='carrinho.png') }}" class = "carrinho"></a>
            <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class = "logo"></a>
           
           
        </header>
        <section id="blog">
            <!--------conteiner--------->
            <div class="blogConteiner">
                
                
                
                <div class="blogBox">

                    <h3>Atualizar Produto</h3>
                    <form action="/atualizar/{{ id_produto }}" method="post">
                        
                        <input value="{{ marca }}" autofocus class="Campo"  id="Marca" name="Marca" placeholder="Marca" type="text" required><br>
                        <input value="{{ volume }}" autofocus class="Campo" id="Volume" name="Volume" placeholder="Volume (ml)" type="text" required><br>
                        <input value="{{ quantidade }}" autofocus class="Campo" id="Quantidade" name="Quantidade" placeholder="Quantidade" type="text" required><br>
                        <input value="{{ preco }}" autofocus class="Campo" id="Preco" name="Preco" placeholder="Preco" type="text" required><br>
                        
                        <button onclick="confirmar()" class="botao" type="submit">Atualizar</button>
                    </form>

                </div>
            </div>
       </section>

    </div>

</body>
</html>