{%extends "layout.html"%}

{%block title%} Carrinho {%endblock%}

{%block body%}
    <h1>Carrin</h1>

    <form action="/carrinho" method="post">
        <select name="marca" placeholder="Marca" class="Campo">
            {% for marca in marcas %}
            <option value="{{ marca }}">{{ marca }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus class="Campo" name="qtdretirar" placeholder="Quantidade a Retirar" type="text"><br>
        <button class="botao" type="submit">Adicionar</button>
    </form>

{%endblock%}