{%extends "layout.html"%}

{%block title%} Carrinho {%endblock%}

{%block body%}

    <div class="container">
        <h2>Adicionar produto ao carrinho</h2>
        <form action="/addcarrinho" method="post">
            <select name="marca" placeholder="Marca" class="Campo">
                {% for row in dbP %}
                <option value="{{ row[1] }}" name ="marca" >{{ row[1] }}</option>
                {% endfor %}
            </select>
            <input type = "number" id = "Quantidade" name = "Quantidade" class ="Campo" placeholder="Quantidade"></input>

            
            <button class="botao" type="submit" >Adicionar</button>
        </form>  
    </div>
    <h3>Carrinho</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">Volume (ml)</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço Unit.</th>
            <th scope="col">Remover produto</th>
        </tr>
        </thead>
        <tbody>
            {% for row in db %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td class="td">{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td><a href="/excluirC/{{ row[0] }}"><img class="btForm" src="{{ url_for('static', filename='excluir.png') }}"></a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td></td>
            <td></td>
    <form action ="/carrinho" method="post">
            <th scope="1">TOTAL</th>
            <td scope="1">{{ montante }}</td>
            <td><input name = "desconto" placeholder="Desconto" id = "desconto" type="number"></input>
            <input name = "tipo" id = "tipo" type = "checkbox">%</input></td>
    </form>
        </tfoot>
    </table>
    <a href="/confirma"><button class="botao" type = "submit">Confirmar compra</button></a>
    <a href="/cancelarCompra"><button class="botao" type = "submit">Limpar carrinho</button></a>

{%endblock%}