{%extends "layout.html"%}

{%block body%}
    <h1>Excluir produto</h1>
    <form action="/excluir" method="post">
        <select name="marca" placeholder="Marca" class="Campo">
            {% for marca in marcas %}
            <option value="{{ marca }}">{{ marca }}</option>
            {% endfor %}
        </select>
        <br>
        <!--<div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>-->
        <button class="botao" type="submit">Excluir</button>
    </form>
{%endblock%}