<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8"/>
       <style type="text/css">
        *{
            padding: 0%;
            margin: 0%;
        }
        .principal{
            position: relative;
            height: 100%;
            width: 100%;
            background-color: green;

        }
        .form{
            position: relative;
        }
       </style>


       <title>HUehue</title>
   </head>
   <body>
       <div class="principal">
            <div>
                <form class="form">
                    <label>NOME <input type="text"></label><br><br>
                    <label>EMAIL <input type="text"></label><br><br>
                    <label>SENHA <input type="text"></label><br><br>
                    <button>Confirmar</button>
                </form>
            </div>
            <div class = "petista">
                <h2>Tchoglenns</h2>
            </div>
       </div>
   </body>
</html>