<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<title>Login</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link href="/static/login.css" rel="stylesheet">

<script src=""></script>


<body>
    <div class="Principal">

        <div class="CampoLogin">
            <img src="{{ url_for('static', filename='logo.png') }}" class = "logo">
            <form class="login" action="/login" method="post">
                <input type="text" placeholder="  Usuário" class="entradas" name="name" required><br>
                <input type="password" placeholder="  Senha" class="entradas" name="senha" required><br>
                <input type="submit" value="ENTRAR" class="entrar"><br>
            </form>
        </div>

    </div>

</body>
</html>